__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/
ENV/

.idea/
.vscode/

.DS_Store

build/
dist/
*.egg-info/
.eggs/

.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

.mypy_cache/
.pyre/
.pytype/

.ruff_cache/

.ipynb_checkpoints/

*.log

.env
.env.*

*.swp
*.swo